@import "reset";
@import "variables/global";
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Unbounded:wght@400;500;700;800&display=swap';


html {
  font-family: Unbounded, sans-serif;
  overflow-x: hidden;
}

.app {
  display: grid;
  grid-template-columns: [full-width-start] minmax(40px, 1fr) [content-start] min(100% - 80px, 1360px) [content-end] minmax(40px, 1fr) [full-width-end];
  position: relative;
  overflow-x: hidden;
}


.full-width > *:not(.promoBg),
 {
  grid-column: content;
}

.full-width > .promoBg {
  grid-column: full-width;
}

.promo-container {
  position: relative;
  background-color: var(--cyan);
}

.app > .full-width {
  display: grid;
  grid-template-columns: inherit;
  grid-column: full-width;
}

.curves {
  grid-column: content;
  position: absolute;
  z-index: 0;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: inherit;
  grid-column: full-width;
  position: relative;
}

.bgL {
  grid-column: full-width-start / content-start;
  grid-row: 1;
  background-color: var(--cyan);
  position: relative;
  z-index: 1;
}

.bgR {
  grid-column: content-end / full-width-end;
  grid-row: 1;
  background-color: var(--cyan);
  position: relative;
  z-index: 1;
}

.content {
  padding: 240px 0 0;
  grid-row: 1;
  grid-column: content;
  position: relative;
  z-index: 1;
}

@media (width <= 768px) {
  :root {
    overflow-x: hidden;
  }

  .content {
    padding: 50px 0 0;
  }
}