:root {
  --font-family: unbounded, sans-serif;
  --black: #282828;
  --purple: #701487;
  --cyan: #01B2E0;
  --light-green: #ABC704;
  --orange: #FD7D32;
  --yellow: #FFDE0D;
  --light-purple: #FCF0FF;
  --light-orange: #FFF4EE;
  --light-cyan: #EFFBFF;
}