.modal {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 40px 10px;
}

.title {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--font-family);

  /* Заголовок 2 */
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 73.6px */
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.blockList {
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
  z-index: 1;
  font-family: var(--font-family);
}

.itemsList {
  gap: 38px 20px;
  grid-template-columns: repeat(3, 430px) !important;
}

@media (max-width: 768px) {
  .modal {
    padding: 10px;
    gap: 24px;
  }

  .title {
    font-size: 24px;
    letter-spacing: 0;
  }

  .blockList {
    gap: 24px;
  }

  .itemsList {
    grid-template-columns: repeat(1, 230px) !important;
  }
}