.button {
  display: flex;
  justify-content: center;
  padding: 24px;
  border-radius: 20px;
  font-family: var(--font-family);
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 50.6px */
  border: 2px solid transparent;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.orange {
  background-color: var(--orange);
  
  &:hover {
    background-color: #fff;
    color: var(--black);
    border: 2px solid var(--orange);
  }
}

.green {
  background-color: var(--light-green);

  &:hover {
    background-color: #fff;
    color: var(--black);
    border: 2px solid var(--light-green);
  }

}

.purple {
  background-color: var(--purple);

  &:hover {
    background-color: #fff;
    color: var(--black);
    border: 2px solid var(--purple);
  }
}