.button {
  display: flex;
  justify-content: center;

  // padding: 24px;padding
  border-radius: 20px;
  font-family: var(--font-family);
  color: #fff;
  text-align: center;

  // font-size: 44px;font-size
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 50.6px */
  border: 0;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.orange {
  background-color: var(--orange);
  
  &:hover {
    background: #FF7328;
  }

  &:active {
    background: linear-gradient(0deg, rgb(255 255 255 / 30%) 0%, rgb(255 255 255 / 30%) 100%), var(--orange);
  }
}

.green {
  background-color: var(--light-green);

  &:hover {
    background: #ABD100;
  }

  &:active {
    background: linear-gradient(0deg, rgb(255 255 255 / 30%) 0%, rgb(255 255 255 / 30%) 100%), var(--light-green);
  }

}

.purple {
  background-color: var(--purple);

  &:hover {
    background: #7A0091;
  }

  &:active {
    background: linear-gradient(0deg, rgb(255 255 255 / 30%) 0%, rgb(255 255 255 / 30%) 100%), var(--purple);
  }
}

.clear {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.bordered {
  background-color: #fff;
  border: 2px solid var(--orange);
  color: var(--black);
}

.blue {
  background-color: var(--cyan);
  color: #fff;

  &:hover {
    background: #00C6E0;
  }

  &:active {
    background: linear-gradient(0deg, rgb(255 255 255 / 40%) 0%, rgb(255 255 255 / 40%) 100%), var(--cyan)
  }
}

.invertBlue {
  background-color: #fff;
  color: #255FA5;
}

@media (width < 768px) {
  .button {
    font-size: 16px;
    padding: 8px;
  }
}