.table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}

.thead {
  background-color: #415543;
  height: 60px;
}

.header {
  padding: 22px 20px;
  min-width: 100px;
  color: #FFF;
  text-align: left;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.65px;
  text-transform: uppercase;

  &:first-child {
    min-width: 60px;
  }
}

.row{
  height: 108px;

  &:nth-child(even) {
    background-color: #F2F2F2;
  }
}

.cell {
  padding: 28px 20px;
  color: #1B1C1E;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.tableWrapper {
  width: 100%;
  overflow: auto;
  border-radius: 10px;
}

.moreButton {
  width: 100%;
  border: none;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1B1C1E;
  border-radius: 0 0 10px 10px;
  background: #EFF1F6;

  &:hover {
    color: #1B1C1E !important;
    border: none !important;
  }
}

.filterWrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
}

.filterInputs {
  display: flex;
  gap: 10px;
  width: 100%;
}

.pageWrapper {
  padding-block: 90px;
  grid-column: content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 25%;
  border-radius: 10px;
  height: 64px;
  border: none;
  background: #EFF1F6;
}

.searchButton {
  width: 64px !important;
  height: 64px;
  border-radius: 10px;
  background: #668569;
  color: #fff;

  &:hover {
    border: none;
    color: #fff !important;
  }
}

.downloadButton {
  width: 60px !important;
  height: 60px;
  border-radius: 10px;
  background: #668569;
  color: #fff;

  &:hover {
    border: none;
    color: #fff !important;
  }
}

.button {
  width: 200px;
  height: 40px;
  border-radius: 500px;
  background: #668569;
  color: #fff;

  &:hover {
    border: none;
    color: #fff !important;
  }
}

.popoverContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}