.video {
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
}

.title {
  width: 700px;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Заголовок 2 */
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 73.6px */
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.highlighted {
  color: var(--cyan)
}

.videoWrapper {
  width: 900px;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.placeholder {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.purpleCurve {
  right: 0;
  top: 200px;
}

.orangeCurve {
  bottom: 0;
  left: -60px;
}

@media (width <=768px) {
  .video {
    gap: 30px;
  }

  .title {
    width: 100%;
    font-size: 24px;
  }

  .videoWrapper {
    width: 100%;
  }

  .placeholder {
    width: 100%;

    & > img {
      width: 100%;
    }
  }

  .purpleCurve {
    display: none;
  }

  .orangeCurve {
    display: none;
  }
}