.button {
  font-size: 20px;
  padding: 8px 24px;
  align-items: center;
  height: 46px;
  width: 100%;
}

.title {
  color: var(--black);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Заголовок смен */
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 33.8px */
  margin-bottom: 32px;
}

.forgotTitle {
  color: var(--black);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Заголовок смен */
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 33.8px */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px ;
}

.item {
  width: 100%;
}

.subtext {
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 20.8px */
}

.link {
  color: #255FA5;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 20.8px */
}

.selectWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.help {
  color:  #909090;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .form {
    gap: 12px
  }

  .inputWrapper {
    gap: 8px;
  }

  .modal {
    padding: 10px 0;
  }

  .title {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .forgotTitle {
    font-size: 14px;
  }

  .subtext {
    font-size: 10px;
    text-align: center;
  }

  .button {
    font-size: 12px;
    padding: 8px;
    height: auto;
  }

  .link {
    font-size: 10px;
  }

  .help {
    font-size: 10px;
    margin-bottom: 18px;
  }
}