.carousel {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 23px;
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  gap: 18px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Заголовок 2 */
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 73.6px */
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}


.slideContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  user-select: none;
  transition: 0.2s opacity ease-in-out;
}

.slideImg {
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: center center;
  border-radius: 20px;
}

.slideTitle {
  padding: 16px 24px;
  border-radius: 20px;
  color: var(--black);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Даты и локация */
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 36px */
}

.purple {
  border: 2px solid var(--purple)
}

.orange {
  border: 2px solid var(--orange);
}

.lightGreen {
  border: 2px solid var(--light-green);
}

.cyan {
  border: 2px solid var(--cyan);
}

.greenCurve {
  top: 10%;
  left: -70px;
}

.notActive {
  opacity: 0.5;
}


.firstSlide {
  fill: #6C2382;
}

.secondSlide {
  fill: #D9D9D9;
  transition: 0.3s fill ease-in-out;

  &Active {
    fill: #FD7D32;
  }
}

.thirdSlide {
  fill: #D9D9D9;
  transition: 0.3s fill ease-in-out;

  &Active {
    fill: #ABC704
  }
}

.fourthSlide {
  fill: #D9D9D9;
  transition: 0.3s fill ease-in-out;

  &Active {
    fill: var(--cyan)
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 56px;
  }

  .slideTitle {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    letter-spacing: 0;
  }

  .header {
    gap: 30px;
  }

  .flower {
    width: 57px;
    height: 57px;
  }

  .slideTitle {
    font-size: 14px;
  }
}