.ant-upload-select {
  width: 163px !important;
  height: 163px !important;
}

@media (max-width: 768px) {
  .ant-upload-select {
    width: 77px !important;
    height: 77px !important;
  }

  .upload-icon {
    width: 35px;
    height: 30px;
  }
}