.schedule {
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
}

.scheduleButton {
  width: 100%;
  position: relative;
  z-index: 1;
}

.blockList {
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
  z-index: 1;
}

.blueCurve {
  left: -15px;
  top: 580px;
}

.cyanCurve {
  right: 0;
  top: 69%;
}

.orangeCurve {
  left: 150px;
  bottom: -11.4%;
}

@media (width <= 768px) {
  .blueCurve {
    width: 413.438px;
    height: 319.282px;
    top: 200px;
    left: -50px;
  }

  .cyanCurve {
    width: 443.438px;
    height: 349.282px;
  }

  .orangeCurve {
    width: 350.303px;
    height: 291.203px;
    left: -40px;
    bottom: -5%;
  }
}