.schedule {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Заголовок 2 */
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 73.6px */
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.blockList {
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
  z-index: 1;
}

.greenCurve {
  right: -70px;
  top: 450px;
}

.cyanCurve {
  right: -70px;
  top: 55%;
}

.orangeCurve {
  left: -70px;
  bottom: 80px;
}

.purpleCurve {
  right: -70px;
  bottom: -30%;
}

@media (width <= 768px) {
  .schedule {
    gap: 30px;
  }

  .blockList {
    gap: 24px;
  }

  .title {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 27.6px */
    letter-spacing: 0;
  }

  .purpleCurve {
    visibility: hidden;
  }

  .cyanCurve {
    top: 63%;
  }

  .orangeCurve {
    display: none;
  }
}