.modal {
  padding: 40px 46px;
  display: flex;
  flex-direction: column;
}


.title {
  color: var(--black);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--font-family);

  /* Заголовок смен */
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 33.8px */
  margin-bottom: 8px;
}

.subtext {
  color:#909090;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin-bottom: 32px;
}

.buttonWrapper {
  display: flex;
  gap: 18px;
}

.cancelBtn {
  padding: 8px 24px;
  font-size: 20px;
  color: #909090 !important;
  border: 2px solid #909090 !important;
}

.confirmBtn {
  padding: 8px 24px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .modal {
    padding: 0;
  }

  .title {
    font-size: 14px;
  }

  .subtext {
    font-size: 10px;
    margin-bottom: 18px;
  }

  .buttonWrapper {
    gap: 8px;
  }

  .cancelBtn {
    padding: 8px;
    font-size: 12px;
    align-items: center;
  }

  .confirmBtn {
    padding: 8px;
    font-size: 12px;
    align-items: center;
  }
}