.container {
  position: relative;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 130px;
  height: 100vh;
  background: linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), url('/src/shared/assets/img/promoBg.png'), lightgray 50%; 
  border-radius: 0 0 40px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logoLink {
  width: auto;
  height: 100%;
}

.promoButton {
  width: 670px;
  font-size: 44px;
  padding: 24px;
}

.curved {
  left: 0;
  bottom: -80%;
  z-index: -1;
}

.logo {
  width: 550px;
  height: auto;

  // transform: scale(1.5);transformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransformtransform
  
  // animation: scroll-reveal ease-out;animationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimationanimation
  // animation-timeline: scroll();animation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timelineanimation-timeline
}

@keyframes scroll-reveal {
  to {
    transform: scale(1);
  }
}

@media (width <=786px) {
  .promo {
    height: 100svh;
    border-radius: 0 0 10.417px 10.417px;
  }

  .logoWrapper {
    flex-direction: column;
  }

  .logo {
    width: 220px;
  }

  .logoLink {
    width: 220px;
  }

  .promoButton {
    width: 200px;
  }

  .curved {
    left: -20%;
    bottom: -90%;
  }
}