.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 120px 0;
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 1;
}

.titleWrapper {
  display: flex;
  gap: 100px;
  align-items: center;
  margin-bottom: 100px;
}

.title {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Заголовок 2 */
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 73.6px */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.highlighted {
  color: var(--orange);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Заголовок 2 */
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 73.6px */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hint {
  color: var(--red);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Текст 1 */
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 28.6px */
  margin-bottom: 30px;
}

.formButton {
  font-size: 44px;
  padding: 24px;
  margin: 0 auto;
  margin-top: 100px;
}

.greenCurve {
  top: 160px;
  right: -20%;
}

.blueCurve {
  top: 40%;
  left: -20%;
}

.orangeCurve {
  bottom: 0;
  right: -20%;
}

@media (width <= 768px) {
  .container {
    max-width: 365px;
    padding: 50px 0;
  }

  .titleWrapper {
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    align-items: flex-start;
    margin-bottom: 30px;
  }


  .title {
    font-size: 24px;
    letter-spacing: 0;
  }

  .highlighted {
    font-size: 24px;
    letter-spacing: 0;
    text-transform: none;
  }

  .hint {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .formButton {
    font-size: 12px;
    padding: 10px 8px;
    width: 100%;
    margin-top: 30px;
  }

  .blueCurve {
    display: none;
  }
}