.partners {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 100px;
}

.partnersList {
  display: grid;
  grid-template-columns: repeat(3, 440px);
  gap: 20px;
  position: relative;
  z-index: 1;
}

.title {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Заголовок 2 */
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 73.6px */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.slide {
  width: 440px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items:center;
  user-select: none;
}

.logoImg {
  width: 100%;
  height: auto;
}

.blueCurve {
  left: -150px;
  top: 350px;
}

.purpleCurve {
  right: -120px;
  top: 60px;
}

@media (width <= 768px) {
  .partners {
    gap: 30px;
  }

  .title {
    font-size: 24px;
  }

  .partnersList {
    grid-template-columns: repeat(2, 166px);
  }

  .slide {
    width: 166px;
  }

  .blueCurve {
    top: 0;
    left: 0;
  }

  .purpleCurve {
    display: none;
  }
}